.dialog-pane {
    -fx-background-color: white;
    -fx-padding: 20px;
}

.dialog-pane .content.label {
    -fx-font-size: 14px;
    -fx-text-fill: #2c1c14;
}

.dialog-pane .header-panel {
    -fx-background-color: #8b5e3c;
    -fx-padding: 12 16;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button-bar .button {
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-padding: 12 24;
    -fx-background-color: #8b5e3c;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(139, 94, 60, 0.2), 4, 0, 0, 2);
}

.button-bar .button:hover {
    -fx-background-color: #a06f47;
}
